.image-form {
    &__img {
        display: block;
        width: 100%;
        height: auto;
    }

    // & .invalid-feedback {
    //     display: initial;
    // }

     &__tags,
     &__tag {
         display: flex;
     }

    &__tags {
        align-items: center;
    }

    &__tags h6 {
        margin: 0 8px 0 0;
    }

    &__tag {
        align-items: center;
    }

     &__tag:not(:last-child) {
         margin-right: 8px;
     }

    &__tag-input {
        margin-right: 16px;
    }

    &__tag p {
        margin: 0 4px 0 0;
    }

    & .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
